.new-food {
	padding: 1rem;
	background: var(--secondary);
}

.search-box {
	display: flex;
	align-items: center;
	justify-content: center;
}

.search-box button {
	padding: 0.25rem;
	display: grid;
	place-items: center;
}

.food-info {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}

.food-info label {
	width: 40%;
	margin-top: 1rem;
}

.food-info input[type="text"] {
	width: 50%;
	margin-top: 1rem;
}

.food-info input[type="submit"] {
	margin-top: 1.5rem;
	padding: 0.2rem 0.4rem;
}
